<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>

	<style>
		/* CSS Styles */
		.tabs {
			display: flex;
		}

		.tab-button {
			flex: 1;
			border: none;
			background-color: #eee;
			padding: 10px;
			font-size: 16px;
			cursor: pointer;
		}

		.tab-button.active {
			background-color: #fff;
		}
	</style>

	<title>Document</title>
</head>
<body>

	<!-- HTML Markup -->
	<div class="tabs">
		<button class="tab-button" hx-get="/htmx/clicked.php" hx-target="#tab-content">Tab 1</button>
		<button class="tab-button" hx-get="/htmx/tab2.html" hx-target="#tab-content">Tab 2</button>
		<button class="tab-button" hx-get="/htmx/tab3.html" hx-target="#tab-content">Tab 3</button>
	</div>
	
	<div 
		id="tab-content" 
		hx-get="/htmx/clicked.php" 
		hx-trigger="load delay:100ms" 
		hx-target="#tab-content" 
		hx-swap="innerHTML">
		Loading...</div>

	<script>
		// JavaScript
		document.addEventListener("DOMContentLoaded", function() {
			const tabButtons = document.querySelectorAll(".tab-button");
			tabButtons.forEach(function(button) {
				button.addEventListener("click", function() {
					tabButtons.forEach(function(button) {
					button.classList.remove("active");
					});
					this.classList.add("active");
				});
			});
		});
	</script>
</body>
</html>